<ul class="navbar-nav">
  <li class="dropdown nav-item" dropdown>
    <a
      class="dropdown-toggle nav-link dropdown-toggle"
      data-toggle="dropdown"
      dropdownToggle
      href="javascript:void(0)"
    >
      <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Comece agora
    </a>
    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu> 
      <a class="dropdown-item" [routerLink]="['/register']">
        <i class="tim-icons icon-bullet-list-67"> </i> Cadastro
      </a>
      <a class="dropdown-item" [routerLink]="['/landing']">
        <i class="tim-icons icon-image-02"> </i> Usuários
      </a>
      <a class="dropdown-item" [routerLink]="['/profile']">
        <i class="tim-icons icon-single-02"> </i> Minha conta
      </a>
    </div>
  </li>
</ul>