<nav
  class="navbar navbar-expand-lg fixed-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="A rede social do investimento"
      >
        <img class="logo" src="assets/img/logo-transparente.png" />
      </a>
    </div>

      <app-navbar-logged *ngIf="isLogged"></app-navbar-logged>
      <app-navbar *ngIf="!isLogged"></app-navbar>
  </div>
</nav>
