<form>
  <div class="row">
    <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Nome do ativo" />
    </div>
    <br/>
    <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Quantidade" />
    </div>
    <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Preço unidade" />
    </div>

      <a style="margin-top: 20px;"
        class="btn btn-danger btn-round btn-lg"
        href="javascript:void(0)"
      >
        Adicionar ativo
      </a>
    </div>
</form>
