<div class="content-center brand">
  <div id="images">
    <h1 class="mb-5">Aqui você não precisa escolher apenas um mentor</h1>
    <div class="row">
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Stormer
        </small>
        <img
          alt="Rounded image"
          class="img-fluid rounded-circle shadow"
          src="assets/img/ryan.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Palex
        </small>
        <img
          alt="Circle image"
          class="img-fluid rounded-circle shadow"
          src="assets/img/james.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Doug Trader
        </small>
        <img
          alt="Raised image"
          class="img-fluid rounded-circle shadow"
          src="assets/img/lora.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Sheik Trader
        </small>
        <img
          alt="Raised circle image"
          class="img-fluid rounded-circle shadow"
          src="assets/img/mike.jpg"
          style="width: 150px;"
        />
      </div>
    </div>
  </div>
  <Br/>
  <br/>
  <h2 class="mb-5">Por apenas <strong>R$39,90</strong> você tem acesso ilimitado a todos os conteúdos de todos os usuários da rede.</h2>


</div>