<app-header></app-header>
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-sm-4">
          <app-add-investment></app-add-investment>
        </div>
        <div class="col-lg-8 col-md-8 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg"
              />

              <h4 class="title">Transactions</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Wallet">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">COIN</th>
                          <th class="header">AMOUNT</th>
                          <th class="header">VALUE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>7.342</td>
                          <td>48,870.75 USD</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>30.737</td>
                          <td>64,53.30 USD</td>
                        </tr>
                        <tr>
                          <td>XRP</td>
                          <td>19.242</td>
                          <td>18,354.96 USD</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<app-footer></app-footer>