<app-header></app-header>

<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square4.png"
                />

                <h4 class="card-title">Cadastro</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="form">
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      formControlName="username"
                      class="form-control"
                      placeholder="Nome Completo"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                  <span class="error" *ngIf="formSubmitted && form.controls['username'].hasError('required')">Preencha o campo "NOME COMPLETO"</span>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      formControlName="email"
                      class="form-control"
                      placeholder="Email"
                      type="text"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                  <span class="error" *ngIf="formSubmitted && form.controls['email'].hasError('required')">Preencha o campo "EMAIL"</span>
                  <span class="error" *ngIf="formSubmitted && form.controls['email'].hasError('email')">Email inválido</span>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      formControlName="password"
                      class="form-control"
                      placeholder="Senha"
                      type="password"
                    />
                  </div>
                  <span class="error" *ngIf="formSubmitted && form.controls['password'].hasError('required')">Preencha o campo "SENHA"</span>
                </form>
              </div>
              <div class="card-footer" (click)="onSubmit()">
                <button
                  class="btn btn-danger btn-round btn-lg"
                >
                  Cadastrar
              </button>
              </div>
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
